#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env
.vagrant
Vagrantfile

#-------------------------
# Temporary Files
#-------------------------
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*
!writable/debugbar/index.html

php_errors.log

#-------------------------
# User Guide Temp Files
#-------------------------
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# Test Files
#-------------------------
tests/coverage*

# Don't save phpunit under version control.
phpunit

#-------------------------
# Composer
#-------------------------
vendor/

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
_modules/*

# phpenv local config
.php-version

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# NetBeans
/nbproject/
/build/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
/nb-configuration.xml
/.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/

# Visual Studio Code
.vscode/

/results/
/phpunit*.xml
/app/Views/references
/writable/logs
/writable/session
/public/assets/elFinder-2.1.38/php/.tmp
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5dcdc9a3
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5dce2b30c
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5dd92e21f
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5dd6041d9
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5e4aec3
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5e6bc935e
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5e7c28317
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5e775c338
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5e92693cb
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5e7362271
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5ebf00d6
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5ecc4cf8
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5ed0bbb7
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5eedfb2f2
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5ef10744
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5f010160
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5f051312c
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5f9608141
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab59c5d9c0
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab59c490372
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19ddcd65ad3c2
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19ddcd65aff3b0
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19ddcd65b5e2e6
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19ddcd65b3324b
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2df9592122
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2dfa22a26a
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2dfa5415e
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2dfa26515a
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2dfcf3e31c
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2dfd102286
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e2cfb120b
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e6b3ad19
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e6b3e732f
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e6ff191b6
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e9b6b313d
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e9b6e6389
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e27aa72be
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e27daf2e4
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e28c8a59
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e28cd896
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e29c3316d
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e29d3170
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e70e20d
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e70e77299
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e70eaa290
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e71e801c6
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e72e153dd
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e2812d3dd
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e7149fe4
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e7231c67
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e734189f
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e2909955
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e7047239a
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2e65606207
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ea3e5137c
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ea55c439f
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ea59a4249
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ea561b16a
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ea4938100
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ea5656264
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ebabe0390
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ebac231f7
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ebac61229
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ebaca12df
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ebacbb17d
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ebb7d7249
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ebbcca327
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ebc0571cd
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ec6d9f3ca
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ec6dd613a
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ec799f132
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ec03402a9
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ec03761f6
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ec759124c
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ec5626358
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2ed9708ad
/public/assets/elFinder-2.1.38/php/.tmp/elfreq191b2f51bfc180
/public/assets/elFinder-2.1.38/php/.tmp/elfreq198935ef106129
/public/assets/elFinder-2.1.38/php/.tmp/elfreq198935f4f5f258
/public/assets/elFinder-2.1.38/php/.tmp/elfreq198935f4f396c
/public/assets/elFinder-2.1.38/php/.tmp/elfreq198935f4fa833b
/public/assets/elFinder-2.1.38/php/.tmp/elfreq198935f5b8d1ef
/public/assets/elFinder-2.1.38/php/.tmp/elfreq198935f5b64207
/public/assets/elFinder-2.1.38/php/.tmp/elfreq198935f5bf2bb
/public/assets/elFinder-2.1.38/php/.tmp/elfreq198935f5fcf1c7
/public/assets/elFinder-2.1.38/php/.tmp/elfreq198935f53c9301
/public/assets/elFinder-2.1.38/php/.tmp/elfreq198935f139c1b3
/public/assets/elFinder-2.1.38/php/.tmp/elfreq198935f419f28c
/public/assets/elFinder-2.1.38/php/.tmp/elfreq198935f42202a6
/public/assets/elFinder-2.1.38/php/.tmp/elfreq1989355a2d53a2
/public/assets/elFinder-2.1.38/php/.tmp/elfreq1989355a29b285
/public/assets/elFinder-2.1.38/php/.tmp/elfreq1989355c8d0105
/public/assets/elFinder-2.1.38/php/.tmp/elfreq1989355c909104
/public/assets/elFinder-2.1.38/php/.tmp/elfreq1989355fc7d18b
/public/assets/elFinder-2.1.38/php/.tmp/elfreq1989355fcc13f
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19893547e0a202
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19893556d4a1c2
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19893597c1a2e9
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19893597c581d2
/public/assets/elFinder-2.1.38/php/.tmp/elfreq198935622d74b
/public/assets/elFinder-2.1.38/php/.tmp/elfreq198935976d618b
/public/assets/elFinder-2.1.38/php/.tmp/elfreq1989359964f87
/public/assets/elFinder-2.1.38/php/.tmp/elfreq1989359968b90
/public/assets/elFinder-2.1.38/php/.tmp/elfreq198935558851c
/public/assets/elFinder-2.1.38/php/.tmp/elfreq198935976832df
/public/assets/elFinder-2.1.38/php/.tmp/elfreq1989359771910b
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5d9be4e6
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5d72cc3a2
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5d72f232a
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5d86ea19f
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5db0b73e4
/public/assets/elFinder-2.1.38/php/.tmp/elfreq19bab5db03e4a
